<ul>
    <li><a href="#"><b style="font-size: 25px;">JASS</b></a></li>
    <li><a href="#">Feed</a></li>
    <li><a href="#">Videos</a></li>
    <li style="float:right"><a class="active" href="#">Profile</a></li>
    <li style="float:right"><a class="active" href="#">Create Post</a></li>
    <li style="float:right"><a class="active" href="#">Logout</a></li>
  </ul>
  
  <div>
    <form action="/action_page.php">
  
      <h1>Edit Profile</h1>
      <span class="span">Profile Headline</span><br/>
      <input type="text" id="title" name="title"><br />
  
      <span class="span">Your Bio</span><br/>
      <input type="text" id="title" name="title"><br />
  
      <span class="span">Your English Efficiency</span><br/>
      <input type="text" id="title" name="title"><br />
  
      <span class="span">Github Link</span><br/>
      <input type="text" id="title" name="title"><br />
  
      <span class="span">Linkedin Link</span><br/>
      <input type="text" id="title" name="title"><br />
  
      <span class="span">Your Roll Number</span><br/>
      <input type="text" id="title" name="title"><br />
  
      <span class="span">User Since</span><br/>
      <input type="text" id="title" name="title"><br />
  
      <input type="submit" value="Submit">
    </form>
  </div>