ul {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    background-color: #333;
    padding: 0px;
    height: 70px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 22px 18px;
    text-decoration: none;
    font-size: 20px;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 30%;
    background-color: black;
    color: yellow;
    padding: 14px 20px;
    margin: 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 400px;
  }
  
  input[type=submit]:hover {
    background-color: black;
    font-size: large;
  }
  
  div {
    border-radius: 5px;
    padding-left: 70px;
    padding-bottom: 70px;
    padding-right: 70px;
    padding-top: 30px;
  }
  
  textarea {
    width: 80%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    resize: none;
    margin: 8px 0;
  }

  .font{
      font-size: 30px;
      font-weight: bold;
  }

  .container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
  }
  
  /* Hide the browser's default checkbox */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    display: inline;
    margin-left: 0px;
  }
  
  .container1:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container1 input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container1 input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .span{
    font-size: 18px;
    font-style: italic;
    display: block;
    margin-top: 21px;
  }
  
  .div1{
    background-color: rgb(212, 252, 252);
    width: 80%;
  }

  .div2{
    background-color: rgb(193, 250, 191);
    width: 80%;
    margin-top: 28px;
  }

  .div3{
    background-color: rgb(247, 205, 233);
    width: 80%;
    margin-top: 28px;
  }