<ul>
    <li><a href="#"><b style="font-size: 25px;">JASS</b></a></li>
    <li><a href="#">Feed</a></li>
    <li><a href="#">Videos</a></li>
    <li style="float:right"><a class="active" href="#">Profile</a></li>
    <li style="float:right"><a class="active" href="#">Create Post</a></li>
    <li style="float:right"><a class="active" href="#">Logout</a></li>
</ul>

<h1>Ticket Section</h1>

<div class="outer1">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Raise Ticket
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>

<div class="outer2">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>

<div class="extra">
    <form action="/action_page.php">
      
      <span class="span">Contact Info:Email</span><br/>
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      <span class="span">Special Request</span><br/>
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      <span class="span">Request Type</span><br/>
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      
      <b><input type="submit" class="submit" value="Create Ticket"></b>
    </form>
  </div>
